{% extends 'base.html.twig' %}
{%  block body %}


    <h2 class="page-header">Izpis popustov</h2>





    <div>
        <form name="input" action="" method="post">

            VNESI EAN KODO:
            <input type="text" name="id" style= "margin-bottom:15px" class="form-control"/>

            <input type="submit" name="submit" value="Submit" class="btn btn-primary btn-sm" >

        </form>
    </div>





    {% if row.id is defined %}
        {{ dump(row)}}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Ime</th>
                <th>Popust</th>
                <th>Podrobnosti</th>
                <th>Prioriteta</th>
                <th>Traja do</th>
                <th>Ustvarjen</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

                <tr>
                 <th>{{ row.id }}</th>
                    <th>{{ row.name }}</th>
                    <th>{{ row.category }}</th>
                    <th>{{ row.description }}</th>
                    <th>{{ row.priority }}</th>
                    <th>{{ row.due_date | date('F j, Y') }}</th>
                    <th>{{ row.create_date | date('F j, Y') }}</th>
                </tr>

            </tbody>
        </table>
        {%  elseif id  %}
            <p><h5> EAN KODA <big>{{ id }}</big> NE OBSTAJA </h5></p>

    {% endif %}







{% endblock %}